<!DOCTYPE html>
<html
  lang="pt-br"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Alunos</title>
  </head>
  <body>
    <div layout:fragment="body">
      <h1 class="mb-4 mt-4">Alunos</h1>

      <p
        th:if="${msg != null}"
        th:text="${msg}"
        class="mb-4 alert alert-success"
      ></p>

      <table class="table">
        <tr>
          <th>Nome</th>
          <th>Faculdade</th>
          <th>Turma</th>
          <th>Telefone</th>
          <th colspan="2">Ações</th>
        </tr>
        <tr th:each="aluno:${alunoFacul}">
          <td th:text="${aluno.nomeAluno}"></td>
          <td th:text="${aluno.faculdade}"></td>
          <td th:text="${aluno.turma}"></td>
          <td th:text="${aluno.telefone}"></td>
          <td>
            <form
              th:action="@{/aluno/excluir/}+${aluno.codAluno}"
              method="post"
              class="form-inline"
            >
              <a
                th:href="@{/aluno/editar/}+${aluno.codAluno}"
                class="btn btn-outline-primary mr-2"
                >Editar</a
              >
              <button type="submit" class="btn btn-outline-danger">
                Excluir
              </button>
            </form>
          </td>
        </tr>
      </table>
      <a class="btn btn-outline-primary" th:href="@{/aluno/cadastrar}"
        >Cadastrar Aluno</a
      >
    </div>
  </body>
</html>
